<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>USB FLASH WHERE ARE YOU</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="screen">
	</head>
	<body>
		<!-- <div id="alertID"class="alert alert&#45;success alert&#45;dismissable text&#45;center"> -->
		<!--   <a href="#" class="close" data&#45;dismiss="alert" aria&#45;label="close">&#38;times;</a> -->
		<!--   <strong>Operation Sucessful</strong> -->
		<!-- </div> -->
		<!-- <div class="jumbotron jumbotron&#45;fluid text&#45;center"> -->
		<div class="page-header text-center">
			<h1>COOK MAE P.O.S</h1>	
		</div>
		<div class="container-fluid">

			<div class="row">
				<div class="col-sm-3">
					 <button id="myBtn1" style="height:100px" class="btn btn-block btn-success btn-lg">NEW ORDER</button>
			   	</div>
				<div class="col-sm-6">
					<!-- Internal row for Pricing -->
					<div class="row">
						<div class="col-sm-3"> <h3> Summary </h3> </div>
						<div class="col-sm-4"> <h3> <span> <p>Beefloaf</p> <p>Beefloaf</p> <p>Pancit Canton</p> </span> </h3> </div>
						<div class="col-sm-2"> <h3> <span> <p>10.00</p> <p>5.00</p> <p>7.50</p> </span> </h3> </div>
						<div class="col-sm-3"> <h2> <span class="text-warning"> PHP 100.00 </span> </h2> </div>
					</div>
			   	</div>
				<div class="col-sm-3">
					 <button id="myBtn1" style="height:100px" class="btn btn-block btn-danger btn-lg">RECORD</button>
			   	</div>
			</div>
			<br></br>
			<div> 
				<h3 class="text-center text-warning">List of Products</h3>	
			</div>
			<br></br>
			<!-- ROW 2 -->
		<div class="row">
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <img src="assets/images/FD1.png" alt="Flash Drive 1" style="width:100%">
				 <button id="myBtn1" style="height:100px" class="btn btn-block btn-warning btn-lg">A</button>
				 <h4 class="text-center"> Php 7.00 </h4>
		   	 </div>
			 </div>

			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <img src="assets/images/FD2.png" alt="Flash Drive 1" style="width:100%">
				 <button id="myBtn2" style="height:100px" class="btn btn-block btn-warning btn-lg">B</button>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <img src="assets/images/FD3.png" alt="Flash Drive 1" style="width:100%">
				 <button id="myBtn3" style="height:100px" class="btn btn-block btn-warning btn-lg">C</button>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <img src="assets/images/FD3.png" alt="Flash Drive 1" style="width:100%">
				 <button id="myBtn4" style="height:100px"class="btn btn-block btn-warning btn-lg">D</button>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <img src="assets/images/FD3.png" alt="Flash Drive 1" style="width:100%">
				 <button id="myBtn5" style="height:100px" class="btn btn-block btn-warning btn-lg">E</button>
		   	 </div>
			 </div>

			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <img src="assets/images/FD3.png" alt="Flash Drive 1" style="width:100%">
				 <button id="myBtn5" class="btn btn-block btn-warning btn-lg" style="height:100px">F</button>
		   	 </div>
			 </div>
		 </div>
		</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Input Information</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">

			<!--		<form action="<?php echo base_url();?>" method="get" accept-charset="utf-8"> -->
            <div class="form-group">
              <label for="username"><span class="glyphicon glyphicon-user"></span> Member Name</label>
			  <select class="form-control" id="username">
			  </select>
            </div>
            <div class="form-group">
              <label for="flashDriveNum"><span class="glyphicon glyphicon-list-alt"></span> Flash Drive Number</label>
			  <select id="flashDriveNum" class="form-control">
			  </select>
            </div>
              <button class="btn btn-success btn-block" id="registerToSite" ><span class="glyphicon glyphicon-off"></span> Log to Site</button>
			  <!--	</form> -->

        </div>
      </div>
      
	</div>
  </div> 

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="text-center">Authentication Window</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">

			<!--		<form action="<?php echo base_url();?>" method="get" accept-charset="utf-8"> -->
            <div class="form-group">
              <label><span class="glyphicon glyphicon-user"></span> Name</label>
			  <h1 class="text-center text-primary" id="username_2Modal">TEST DATA</h1>
			</div>
			<div class="form-group">
              <label for="passwordID" id="oldPasswordLabelID" ><span class="glyphicon glyphicon-lock"></span> Password</label>
			  <input type="password" placeholder="Password" class="form-control" id="passwordID">
			  <p class="text-danger" id="checkPasswordID"></p>
			</div>
			<div class="form-group">
              <label for="confirmPasswordID" id="confirmPasswordLabelID"><span class="glyphicon glyphicon-lock"></span>New Password</label>
			  <input type="password" placeholder="New Password" class="form-control" id="confirmPasswordID">
			  <p class="text-danger" id="confirmPasswordID"></p>
			</div>
              <button class="btn btn-success btn-block" id="submitInfomation" ><span class="glyphicon glyphicon-off"></span> Register </button>
              <button class="btn btn-danger btn-block" id="changePasswordButtonID" ><span class="glyphicon glyphicon-pencil"></span> Change Password </button>
              <button class="btn btn-danger btn-block" id="submitChangePasswordButtonID" ><span class="glyphicon glyphicon-pencil"></span> Change Password </button>
			  <!--	</form> -->

        </div>
      </div>
      
	</div>
  </div> 
	</div>

	</body>
</html>
