<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>COOK MAE</title>
		<script type="text/javascript" src="<?php echo base_url();?>assets/js/jquery-3.3.1.min.js" ></script> 
		<link rel="stylesheet" href="<?php echo base_url();?>assets/css/bootstrap.min.css" type="text/css" media="screen">
	</head>
	<body>
		<div>
			<a href='index.php/main/openAdmin'> testing </a>
		</div>
		<div id="alertID"class="alert alert-success alert-dismissable text-center">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Operation Sucessful</strong>
		</div>
		<div class="page-header text-center">
			<h1>COOK MAE P.O.S</h1>	
		</div>
		<div class="container-fluid">
			<div class="row" id="row_testing">
				<div class="col-sm-3">
					 <button id="button_new_order" style="height:100px" class="btn btn-block btn-success btn-lg">NEW ORDER</button>
			   	</div>
				<div class="col-sm-6">
					<!-- Internal row for Pricing -->
					<div class="row">
						<div class="col-sm-3"> <h3> Summary </h3> </div>
						<div class="col-sm-6"style="height: 150px; overflow-y: scroll">
							<table class="table table-fixed table-striped">
								<thead>
									<tr>
										<th scope="col"> Description </th>
										<th scope="col"> Price </th>
									</tr>
								</thead>
								<tbody id="span_summary_purchase">
								</tbody>
							</table>
						</div>
						<div class="col-sm-3" style="text-center"><h2><p>Total</p></h2> <h2><span id="span_summary_total" class="text-warning">0.00</span> </h2> </div>
					</div>
			   	</div>
				<div class="col-sm-3">
					 <button id="button_record_db" style="height:100px" class="btn btn-block btn-danger btn-lg">RECORD</button>
			   	</div>
			</div>
			<!-- END OF ROW -->
			<hr></hr>
		<div class="container-fluid" style="height: 300px; overflow-y: scroll">
		<div class="row" id="row_products_1">
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image0">Item 0</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image0"></input>
				 <h4 class="text-center" id="image0_price"> Php 8.00 </h4>
		   	 </div>
			 </div>

			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image1">Item 1</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image1"></input>
				 <h4 class="text-center" id="image1_price"> Php 9.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image2">Item 2</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image2"></input>
				 <h4 class="text-center" id="image2_price"> Php 10.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image3">Item 3</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image3"></input>
				 <h4 class="text-center" id="image3_price"> Php 11.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image4">Item 4</h4>
				 <input type="image" src="assets/images/CornedBeef.jpg" style="width:100%" id="image4"></input>
				 <h4 class="text-center" id="image4_price"> Php 12.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image5">Item 5</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image5"></input>
				 <h4 class="text-center" id="image5_price"> Php 13.00 </h4>
		   	 </div>
			 </div>
		 </div> 
		<!-- END OF ROW 1  -->
		<!-- START OF ROW 2  -->
		<div class="row" id="row_products_1">
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image0">Item 0</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image0"></input>
				 <h4 class="text-center" id="image0_price"> Php 8.00 </h4>
		   	 </div>
			 </div>

			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image1">Item 1</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image1"></input>
				 <h4 class="text-center" id="image1_price"> Php 9.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image2">Item 2</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image2"></input>
				 <h4 class="text-center" id="image2_price"> Php 10.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image3">Item 3</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image3"></input>
				 <h4 class="text-center" id="image3_price"> Php 11.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image4">Item 4</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image4"></input>
				 <h4 class="text-center" id="image4_price"> Php 12.00 </h4>
		   	 </div>
			 </div>
			 <div class="col-sm-2">
			 <div class="thumbnail">
				 <h4 class="text-center" id="name_image5">Item 5</h4>
				 <input type="image" src="<?php echo base_url();?>assets/images/CornedBeef.jpg" style="width:100%" id="image5"></input>
				 <h4 class="text-center" id="image5_price"> Php 13.00 </h4>
		   	 </div>
			 </div>
		 </div> 
		<!--  END OF ROW 2 -->
		</div>
		</div>
	</div>
  </div> 


	</div>

	</body>

	<script type="text/javascript">

		var integer_totalPrice = 0;

		var globalJSONDataSize = 0;
		var g_product_name=[];
		var g_product_price=[];
		var g_data_date=[];
		var g_data_time=[];

		$(document).ready(function(){
			$("#alertID").hide();
		});

		$("input").click(function(){
			var item_price=$(this).next().text();
			var integer_item_price=$(this).next().text().match(/\d+/);
			var item_name=$(this).prev().text();
			var d =new Date();
			var cur_month= d.getMonth();
			var cur_day  = d.getDate();
			var cur_year = d.getFullYear();
			var cur_date = cur_year + "-" + cur_month + "-"+  cur_day;
			var cur_time = d.getHours()+":" + d.getMinutes()+":" + d.getSeconds();
			console.log(item_name);
			console.log(parseFloat(integer_item_price));
			console.log(cur_date);
			console.log(cur_time);

			solve(integer_item_price);
			$("#span_summary_purchase").append("<tr><td>" + item_name + "</td>" + "<td>" + item_price + "</td></tr>");

			g_product_name.push(item_name);
			g_product_price.push(parseFloat(integer_item_price));
			g_data_date.push(cur_date.toString());
			g_data_time.push(cur_time.toString());
			globalJSONDataSize +=1;
		});

		function display(){
			$("#span_summary_total").text(integer_totalPrice + ".00");
		}

		function resetValues(){
			$("#span_summary_purchase").html("");
			integer_totalPrice=0;
			display();
			g_product_name=[];
			g_product_price=[];
			g_data_date=[];
			g_data_time=[];
			globalJSONDataSize=0;
		}

		function solve(a){
			integer_totalPrice = parseFloat(integer_totalPrice) + parseFloat(a);
			display();
		};

		$("#button_new_order").click(function(){
			resetValues();
		});
		
		$("#button_record_db").click(function(){

			for(var i=0; i < globalJSONDataSize; i++) {
			$.ajax({
				type:"POST",
				url:"<?php echo base_url();?>index.php/main/record_on_database",
				dataType:'json',
				data:{
					product_name :g_product_name[i],
					product_price:g_product_price[i],
					data_date    :g_data_date[i],
					data_time    :g_data_time[i]
				},
				success: function(data){
					if(data['result'] == "success") {
						resetValues();
						$("#alertID").show().delay(2000).fadeOut();
					}
				}
			});
			}
		});

	</script>

</html>
